name: Test
"on":
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test_matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version:
          - 20
          - 22
          - 24
    steps:
      - uses: actions/checkout@v5
      - name: Test with Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v5
        with:
          cache: npm
          node-version: ${{ matrix.node_version }}
      - run: npm ci
      - run: npm run test --ignore-scripts
  test:
    runs-on: ubuntu-latest
    needs: test_matrix
    steps:
      - run: exit 1
        if: ${{ needs.test_matrix.result != 'success' }}
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          cache: npm
          node-version: "lts/*"
      - run: npm ci
      - run: npm run lint
      - run: npm run validate:ts
    if: ${{ always() }}
