name: Test
"on":
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  test_matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version:
          - 14
          - 16
          - 18
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
      - name: Test with Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: pnpm install --lock
      - run: pnpm run test --ignore-scripts
  test:
    runs-on: ubuntu-latest
    needs: test_matrix
    steps:
      - run: exit 1
        if: ${{ needs.test_matrix.result != 'success' }}
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
      - uses: actions/setup-node@v3
        with:
          cache: npm
          node-version: 16
      - run: pnpm install --lock
      - run: pnpm run test --ignore-scripts
      - run: pnpm run validate:ts
    if: ${{ always() }}
